body{
    padding: 0;
    margin: 0;
}

header{
    background-color: #20209D;
}

header i{
    margin: 1%;
    color: white;
}

#cuerpo{
    background-image: url("");

}

.nota{
    display: inline-block;
    margin-left: 5%;
    margin-top: 2%;
    width: 16.66%;
    background-color: #FFFF45;
    padding: 1%;
}

.nota input,textarea{
    background-color: transparent;
    width: 100%;
}